# Project
.idea

# Node
node_modules

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Package Managers
yarn-error.log
npm-debug.log

# Cache
.awcache

# Build Generated
vendor/vendor.js
vendor/vendor.map
vendor/vendor-manifest.json
main.js
main.js.map
yarn.lock
app/app.component.js
app/app.component.js.map
app/app.module.js
app/app.module.js.map
