.app {
    /*     border: 1em;
        padding: 4em;
        background-color: coral */
    }

.textcenter {
    text-align: center
}
    
    .textright {
        text-align: right
    }
    
    .logo {
        display: block
    }